* {
    font-family: sans-serif;
    color: #000;
}
.container-fluid {
    height: 100vh;
    margin: 0 !important;
    background-color: #008DD5;
}

.login-box {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}
.login-box form {
    padding: 4rem;
}

@media screen and (max-width: 600px) {
    .container-fluid {
        background: white;
        padding: 0;
    }
  .login-box {
    background-color: black;
  }
  .login-box form {
    padding: 3rem;
}
  }