
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}
h1,h2,h3 {
    font-family: "Montserrat", sans-serif;
}

.container-fluid {
    height: 100vh;
    margin: 0 !important;
    background-color: #008DD5;
}

.login-box {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
}

input {
    font-size: 1.1rem !important;
    padding: 8px 14px!important;
}

input::placeholder {
    color: rgb(59, 59, 59) !important;
}

.input-group {
    border: 1px solid rgb(179, 179, 179) !important;
    border-radius: 10px !important;
}

.login-box form {
    padding: 3.5rem;
}

#submit-btn {
    font-weight: 500;
}

@media screen and (max-width: 600px) {
    .container-fluid {
        background: white;
        padding: 0;
    }
  .login-box {
    border-radius: 0px;
    box-shadow: unset;
  }
  .login-box form {
    padding: 1rem;
}
  }